<div class="tab-content">
    <div class="generic-tab tab-pane fade in active" id="generic-tab">
        <div>
            <ul class="thumbnails row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="cards-popover">
                        <div class="cards-popover-title title-color" data-bind="title"></div>
                        <div class="cards-popover-content">
                            <div class="cards-popover-middle">
                                <div class="generic">
                                    <div class="generic-row">
                                        <span class="generic-cell" data-bind="title_0"></span>
                                        <span class="generic-cell"><span class="badge badge-important total-alerts" data-bind="value_0"></span></span>
                                    </div>
                                    <div class="generic-row">
                                        <span class="generic-cell more-info-color" data-bind="title_1"></span>
                                        <span class="generic-cell"><span class="badge badge-important total-alerts more-info-color" data-bind="value_1"></span></span>
                                    </div>
                                    <p class="equipment-speeding" data-bind="sub_title"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>