@import 'mixins';
//.dashboard-nav-tabs > li > a{
//	color: #333;
//	font-weight: bold;
//}
//.dashboard-nav-tabs > li > a:hover{
//	color: #000;
//  cursor: pointer;
//}
.dashboard{
  .cards-popover{
    display: block;
    float: left;
    width: 100%;
    //width: 99%;
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    @include rounded(6px);
    @include shadowed;
    @include bgclipped;
  }
  .cards-popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    @include rounded(5px 5px 0 0);
  }
}

.generic-tab{
  .cards-popover{
    margin: 20px 0;
  }
  .cards-popover-content {
    padding: 0;
    display: table;
    width: 100%;
    height: 200px;
    background-image: none;
  }
  .cards-popover-middle{
    display: table-cell;
    vertical-align: middle;
    padding: 9px 14px;
  }
}
#charts-top-tab .cards-popover-content {
  height: 470px;
}
.economy-tab{
  .cards-popover{
    margin:0 0 10px 0;
  }
  .cards-popover-content{
    background-image: none;
  }
}

.cards-popover-content p,
.cards-popover-content ul,
.cards-popover-content ol {
  margin-bottom: 0;
}


.economy-tab h2{
  color: #B94A48;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.trips-number{
  font-size: 28px;
  font-weight: bold;
}

.chart-outline{
  line-height: 24px;
  background-color: white;
  border-bottom: 1px solid #DDD;
  width: 100%;
  display: table;
}
.consumption{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 10px;
  span{
    color: #B94A48;
    font-weight: bold;
    font-size: 18px;
  }
}

.idling-today, .distance-today{
  display: table-cell;
  padding: 10px;
}

.dashboard-data {
  vertical-align: middle;
  span, i {
    white-space: nowrap;
    vertical-align: middle;
  }
}
.dashboard-data + .dashboard-data {
  padding-left: 5%;
}

.idling-today .badge, .distance-today .badge {
  font-size: 18px;
  padding: 5px 9px;
  line-height: 14px;
}

.col-md-2 .popover{
  margin: 0;
}

.col-md-2 .popover h3{
  float: left;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.generic{
  font-weight: bold;
  color: #333;
  display: table;
  width: 100%;
}
.generic-cell {
  display: table-cell;
  font-size: 13px;
  vertical-align: middle;
  padding: 3px 0;
  border-bottom: 1px solid #dedede;
}

.generic-row {
  display: table-row;

}

.equipment-speeding{
  color: #333;
  text-align: right;
  line-height: 32px;
  font-weight: bold;
  font-size: 13px;
}

.dashboard .label,
.dashboard .badge {
  cursor: default;
}

.generic-tab .badge-important, .generic-tab .label{
  font-size: 18px;
  line-height: 18.5667px;
}

.total-alerts{
  font-size: 20px;
  float: right;
  line-height: 26px;
  @include rounded(12px);
  padding: 1px 9px 2px;
}

.fuel-price-change{
  padding-bottom: 10px;
  font-size: 0;
}

.fuel-price-change form{
  margin: 0;
}
.fuel-price-change .btn{
  margin-left: 5px;
}

.fuel-price-change label{
  &:empty{
    padding-right: 2px;
  }
  font-weight: bold;
  padding-right: 10px;
}

.economy-tab h4{
  margin-top: 0;
  text-align: left;
  font-size: 14px;
}

.economy-tab h4.chart{
  padding: 10px 0 0 10px;
  margin-top: -5px;
}

.notes{
  font-style: italic;
}

.economy-tab strong{
  font-weight: bold;
  margin-right: 5px;
}

.col-md-3.distance{
  width: 210px;
}

.popover-fleet {
  a{
    color: #333;
    text-decoration: none;
  }
  .fleet-data-badge{
    a{
      text-decoration: underline;
    }
    a:hover{
      text-decoration: none;
    }
  }

  p{
    line-height: 24px;
    text-align: left;
    color: #333;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 0;
    clear: both;
  }
  i{
    margin-top: 1px;
  }
  .label-mini{
    font-size: 10px;
    padding: 2px;
    line-height: 10px;
    font-weight: normal;
  }
  .last-stop-address{
    display: table-cell;
    vertical-align: middle;
  }
  .last-stop{
    line-height: 14px;
    height: 30px;
    display: table;
    width: 100%;
    a{
      font-style: italic;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  .popover{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1010;
    display: block;
    float: left;
    width: 100%;
    padding: 1px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include rounded(6px);
    @include shadowed;
    @include bgclipped;
  }
  .popover-title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    display: table;
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    @include rounded(5px 5px 0 0);
  }
  .title-middle{
    display: table-cell;
    vertical-align: middle;
    height: 40px;
  }
  .title-middle:hover{
    text-decoration: underline;
  }

  .popover-content {
    padding: 0;
    display: table;
    width: 100%;
    height: 200px;
    background-image: none;
  }
  .popover-middle{
    display: table-cell;
    vertical-align: middle;
    padding: 9px 14px;
  }
}
.popover-driver .popover-title{
  /*line-height: 1.5em;*/
  padding: 8px 0;
}
.fleet-map-popover {
  width: 290px;
  height: 240px;
  background-image: url("/images/preloader.gif");
  background-repeat: no-repeat;
  text-align: center;
  background-position: 150px 150px;
  z-index: 10000;
  .popover-content {
    padding: 0;
  }
}
.fleet-info{
  legend{
    margin-bottom: 20px;
  }

  h5 {
    margin: 0 0 15px 15px;
  }
  a:hover{
    color: #555;
  }

  .show-on-map-btn{
    float: right;
    margin-top: 10px;
  }
  li.popover-fleet{
    width: 285px;
    list-style: none;
  }
  #drivers_data li.popover-fleet{
    margin-bottom: 20px;
  }
  .thumbnails {
    margin-left: 0;
  }
}


.driver-popover-block{
  display: none;
}

.fleet-data-badge{
  font-size: 14px;
  float: right;
}

.popover-driver{
  .popover-content {
    background-image: none;
    height: auto;
    width: 180px;
    font-size: 11px;
  }
  p{
    padding: 0 9px;
  }
}

#mileage-top-chart{
  margin-left: 0px;
}
.top-chart-type .btn-group{
  text-align: right;
}
.top-chart-type{
  padding: 10px 10px 10px 0;
}
.highcharts-container{
  max-width: 99%;
}
.distance-notice{
  clear: both;
}
.no-event {
  white-space: normal;
  font-size: 14px;
  line-height: 1.5;
}

#charts-top-tab{
  .top-chart-type .btn-group{
    display:none;
  }
  .cards-popover-middle{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -20px;
  }
  .cards-popover-content{
    position: relative;
  }
  .label.no-event{
    display: inline;
    font-size: 20px;
    line-height: 26px;
  }
}
