/*# Mixins
*************************************************************** */
/*# Cross Browser Transparency */
@mixin opacity($opacity) {
  opacity: $opacity;
  moz-opacity: $opacity;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=round($opacity*100));
  filter: alpha(opacity=round($opacity*100));
}
/*# Border-radius */
@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
/*# Box-shaddow */
@mixin shadowed($shadow: 0 5px 10px, $color: rgba(0,0,0,0.2)) {
  -webkit-box-shadow: $shadow $color;
  -moz-box-shadow: $shadow $color;
  box-shadow: $shadow $color;
}
/*# Background Clip */
@mixin bgclipped($clip: padding-box, $mozclip: padding) {
  -webkit-background-clip: $clip;
  -moz-background-clip: $mozclip;
  background-clip: $clip;
}

%select-caret {
  &:after {
    content: '\f0d7';
    height: 30px;
    display: inline-block;
    padding: 4px;
    position: absolute;
    min-width: 28px !important;
    font-family: 'FontAwesome';
    line-height: 22px;
    border-left: 1px solid #ccc !important;
    border-radius: 0 4px 4px 0 !important;
    pointer-events: none;
    font-size: 14px;
    font-weight: normal;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin flex-direction() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-grow() {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}
