<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="trips_<%= params["user_hash"] %>" data-view="Summary" data-title="Trips" data-title_0="Finished:" data-title_1="In progress:" data-link_0="/" data-link_1="/" data-include_graph="true" data-y_axis_need="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="engine_hours_<%= params["user_hash"] %>" data-view="Summary" data-title="Engine Hours" data-title_0="Total Engine Hours:" data-title_1="Maximum Engine Hours:" data-link_0="" data-link_1="" data-sub_title="equipment" data-include_graph="true" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="idling_<%= params["user_hash"] %>" data-view="Summary" data-title="Idling" data-title_0="Total Idling:" data-title_1="Maximum Idling Equipment:" data-link_0="" data-link_1="" data-sub_title="equipment" data-include_graph="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mileage_<%= params["user_hash"] %>" data-view="Summary" data-title="Mileage" data-title_0="Total Mileage:" data-title_1="Maximum Mileage Equipment:" data-link_0="" data-link_1="" data-sub_title="equipment" data-include_graph="true" data-y_axis_need="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="speeding_<%= params["user_hash"] %>" data-view="Summary" data-title="Speeding" data-title_0="Total Speeding Alerts:" data-title_1="Maximum Speed:" data-link_0="" data-link_1="" data-sub_title="equipment" data-include_graph="false"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pto_<%= params["user_hash"] %>" data-view="Summary" data-title="PTO" data-title_0="Total PTO Alerts:" data-title_1="Last Event From:" data-link_0="" data-link_1="" data-sub_title="equipment" data-include_graph="false"></div>
    </li>
  </ul>
</div>